astropy==6.1.7
astropy-iers-data==0.2026.2.23.0.48.33
beautifulsoup4==4.14.3
bibtexparser==2.0.0b9
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
contourpy==1.3.2
cryptography==46.0.5
cycler==0.12.1
Cython==3.2.4
DateTime==6.0
filelock==3.24.3
fonttools==4.61.1
gvar==13.1.9
gwdatafind==2.1.1
gwmemory==1.1.0
h5py==3.15.1
idna==3.11
igwn-auth-utils==1.4.0
igwn-ligolw==2.0.1
igwn-segments==2.1.1
inflection==0.5.1
Jinja2==3.1.6
juliacall==0.9.31
juliapkg==0.1.23
kiwisolver==1.4.9
lalsuite==7.26.4
llvmlite==0.46.0
lscsoft-glue==4.1.1
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
mpld3==0.5.12
mpmath==1.3.0
numba==0.64.0
numexpr==2.14.1
numpy==2.2.6
numpy-quaternion==2024.0.13
packaging==26.0
pandas==2.3.3
pegasus-wms.api==5.1.2
pegasus-wms.common==5.1.2
pillow==12.1.1
PyCBC==2.9.0
pycparser==3.0
pyerfa==2.0.1.5
pygsl_lite==0.1.8
PyJWT==2.11.0
pykerr==0.2.0
pylatexenc==2.10
pyparsing==3.3.2
pyseobnr==0.3.6
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
qnm==0.4.4
quaternionic==1.0.17
requests==2.32.5
safe-netrc==1.0.1
scipy==1.15.3
scitokens==1.8.1
scri==2024.0.6
semver==3.0.4
six==1.17.0
soupsieve==2.8.3
spherical==1.0.18
spherical-functions==2023.0.2
spinsfast==2022.4.10
sxs==2025.0.24
sxscatalog==3.0.18
sympy==1.14.0
tomli==2.4.0
tomlkit==0.14.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
vegas==6.4.1
zope.interface==8.2
